<p class="signup_users">登録しているユーザー</p>

  <div class="users_list">
    <ul class="users">
    <% @users.each do |user| %>
    <div class="users_information">
      <li>
        <%= user.name %>
      </li>
      <li>
        <%= user.city %>
      </li>
      <li>
        <%= user.favorite_singer %>
      </li>
      <li>
        <%= link_to "プロフィールを見る", user_path(user) %>
      </li>
    </div>
    <% end %>
    </ul>
  </div>
  
<div class="all_users">
  <%= paginate @users %>
</div>