<div class="form-center">
<ul>
    <li><%= @user.name%></li>
    <li><%= @user.city%></li>
    <li><%= @user.content%></li>
</ul>

<% if user_signed_in? %>
  <%= render "follow_form" %>
<% end %>
<%# if !current_user && user_signed_in? %>
    <section class="message_box">
      <div id="messages">
        <%= render @messages %>
      </div>
    </section>
    <script type="text/javascript">
      var height = 0;
      $("div.message").each( function() {
        height += ($(this).height());
      });
      $('section.message_box').scrollTop(height);
    </script>
    <div class="message_form">
     <%= render 'messages/message_form',
       {from_user: current_user, to_user: @user, room_id: @room_id} %>
    </div>
<%# end %>
</div>